body {
  background-color: rgb(250, 250, 250);
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loginForm {
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}
